/***********************
       Nav Styles
***********************/
header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;

    .activate-nav {
        position: fixed;
        top: 1em;
        right: 1em;
        border: 1px solid white;
        z-index: 9999;
        color: white;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .ib-nav {
        .passing-blue {
            width: 100%;
            height: 100%;
            position: absolute;
            transition: all 1s ease-in-out;
            z-index: 99;
            top: 100%;

            .overlay-blue {
                background: blue;
                width: 100%;
                height: 100vh;
            }

            .nav-menu {
                width: 100%;
                height: 100vh;
                background: rgba(0,0,0, .6);
                z-index: 999;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 20em;

                .nav-textbox {
                    width: 250px;
                    height: 150px;
                    border-right: 2px solid white;
                    padding-right: 10px;

                    p {
                        color: white;
                        line-height: 30px;
                        font-size: calc(1em + 1px);
                        text-align: right;
                        margin-right: 10px;
                        letter-spacing: 1px;
                        font-weight: 300;
                    }
                }

                .nav-list {
                    list-style-type: none;
                    margin-top: 25em;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .nav-list-item {
                        margin-bottom: 100px;

                        .nav-link {
                            font-size: calc(3.5em + 2px);
                            font-weight: 300;
                            color: white;
                            text-decoration: none;

                            label {
                                display: block;
                                font-size: 13px;
                                font-weight: 300;
                                letter-spacing: 1px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .nav-copy {
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                color:white;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }
    }
}
/*Highlighted text*/
.highlight-text {
    font-size: calc(1.1em + 2px);
    font-weight: 400;
    border-bottom: 1px solid white;
}
